* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

body {
    background-color: white;
}

.header {
    background: url("./images/cover.jpeg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 319px;
    position: relative;
}

.header>h1 {
    font: 44px/62px "PingFangSC-Semibold";
    color: white;
    text-align: center;
    padding-top: 111px;
}

.header-user {
    position: absolute;
    bottom: -20px;
    right: 12px;
    display: flex;
    justify-content: right;
}
.header-user>p {
    color: white;
    font: 17px/24px "PingFangSC-Semibold";
    margin-bottom: 32px;
    margin-top: 15px;
    margin-right: 24px;
}
.header-user>img {
    width: 71px;
    height: 71px;
    border-radius: 6px;
}

.main>ol {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main .item {
    padding: 10px;
    border-bottom: 1px solid #EBEBEC;
    display: flex;
}
.item .avatar {
    width: 44px;
    height: 44px;
}
.item .avatar>img {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 4px;
    background-color: red;
}

.item .content {
    margin-left: 10px;
}
.item .content>p:nth-of-type(1) {
    font: 17px/24px "PingFangSC-Regular";
    color: #4D638F;
    margin-bottom: 10px;
}

.item .content>p:nth-of-type(2) {
    font: 17px/24px "PingFangSC-Regular";
    color: #121212;
    margin-bottom: 10px;
}

.item:nth-of-type(1) .content>div:nth-child(3) {
    width: 250px;
    height: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px 5px;
}
.item:nth-of-type(1) .content>div:nth-child(3)>a {
    width: 80px;
    height: 80px;
    background-color: rosybrown;
}

.item:nth-of-type(1) .content>div:nth-child(3)>a:nth-child(1) {
    background: url("./images/humen1.png") no-repeat center;
    background-size: contain;
}
.item:nth-of-type(1) .content>div:nth-child(3)>a:nth-child(2) {
    background: url("./images/humen2.png") no-repeat center;
    background-size: contain;
}
.item:nth-of-type(1) .content>div:nth-child(3)>a:nth-child(3) {
    background: url("./images/humen3.png") no-repeat center;
    background-size: contain;
}
.item:nth-of-type(1) .content>div:nth-child(3)>a:nth-child(4) {
    background: url("./images/humen4.png") no-repeat center;
    background-size: contain;
}
.item:nth-of-type(1) .content>div:nth-child(3)>a:nth-child(5) {
    background: url("./images/humen5.png") no-repeat center;
    background-size: contain;
}
.item:nth-of-type(1) .content>div:nth-child(3)>a:nth-child(6) {
    background: url("./images/humen6.png") no-repeat center;
    background-size: contain;
}
.item:nth-of-type(1) .content>div:nth-child(3)>a:nth-child(7) {
    background: url("./images/humen7.png") no-repeat center;
    background-size: contain;
}
.item:nth-of-type(1) .content>div:nth-child(3)>a:nth-child(8) {
    background: url("./images/humen8.png") no-repeat center;
    background-size: contain;
}
.item:nth-of-type(1) .content>div:nth-child(3)>a:nth-child(9) {
    background: url("./images/humen9.png") no-repeat center;
    background-size: contain;
}

.item .content .timestamp {
    display: flex;
    justify-content: space-between;
}

.content .timestamp>p {
    font-size: 14px;
    color: #B7B7B7;
    padding: 5px 0px;
}

.content .timestamp>a>img {
    width: 29px;
    vertical-align: middle;
}

.content .comments {
    background: #F3F3F5;
    border-radius: 2px;
}

.comments p {
    font: 15px/21px;
    font-family: "PingFangSC-Regular";
    color: #000;
    padding: 5px;
}

.content .comments>p:nth-of-type(1) {
    color: #536892;
}

.content .comments>p:nth-of-type(1)::before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 10px;
    background: url("./images/star_small.png");
    background-size: cover;
    vertical-align: middle;
    margin-right: 5px;
}

.item:nth-of-type(2) .content .detail {
    background-color: #f3f3f5;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
}
.item:nth-of-type(2) .content .detail>img {
    background-color: green;
    width: 42px;
    height: 42px;
    margin: 3px 3px;
    content: url("./images/line.png");
}
.item:nth-of-type(2) .content .detail>p {
    margin-left: 6px;
    font: 15px/21px "PingFangSC-Regular";
}

.item:nth-of-type(3) .content>p:nth-child(3) {
    width: 260px;
    height: 162px;
    background: url("./images/girl.png") no-repeat center; 
    background-size: cover;
}

.item:nth-of-type(4) .content>p:nth-child(3) {
    width: 147px;
    height: 147px;
    background: url("./images/qrcode.png") no-repeat center; 
    background-size: cover;
}

.item:nth-of-type(1) .avatar>img {
    content: url("./images/town.png");
}
.item:nth-of-type(2) .avatar>img {
    content: url("./images/tonu.png");
}
.item:nth-of-type(3) .avatar>img {
    content: url("./images/fans.png");
}
.item:nth-of-type(4) .avatar>img {
    content: url("./images/lefex.png");
}